# Getting to know the ATIS dataset

ATIS is a well-known dataset consisting of customer utterances who want to book a flight, get information about the flights, including flight costs, flight destinations, and timetables.

We will explore the dataset with pandas

In [5]:
import pandas as pd
dataset = pd.read_csv("data/atis_intents.csv", header=None)
dataset.head()

                  0                                                  1
0       atis_flight   i want to fly from boston at 838 am and arriv...
1       atis_flight   what flights are available from pittsburgh to...
2  atis_flight_time   what is the arrival time in san francisco for...
3      atis_airfare            cheapest airfare from tacoma to orlando
4      atis_airfare   round trip fares from pittsburgh to philadelp...

The first column contains the intent, and the second column contains the user utterance. We observe that the utterances are not capitalized or punctuated. This is because these utterances are an output of a speech-to-text engine.

Next, let's see the distribution of the number of utterances by intent:

In [6]:
print(dataset.groupby(0).size())

0
atis_abbreviation                            147
atis_aircraft                                 81
atis_aircraft#atis_flight#atis_flight_no       1
atis_airfare                                 423
atis_airfare#atis_flight_time                  1
atis_airline                                 157
atis_airline#atis_flight_no                    2
atis_airport                                  20
atis_capacity                                 16
atis_cheapest                                  1
atis_city                                     19
atis_distance                                 20
atis_flight                                 3666
atis_flight#atis_airfare                      21
atis_flight_no                                12
atis_flight_time                              54
atis_ground_fare                              18
atis_ground_service                          255
atis_ground_service#atis_ground_fare           1
atis_meal                                      6
atis_quantity                                 51
atis_restriction                               6
dtype: int64